.home {
    min-height: 100vh;
    background-image: url(../img/bg-hero.svg);
    background-position: center;
    background-size: cover;
    position: relative;

    &-btn {
        margin-left: rem(70 + 30);


        @media (max-width:900px) {
            margin-left: 0;
            margin-bottom: rem(30);
        }
    }

}